.demo-table {
  width: 100%;
}

.mat-column-demo-position {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-demo-name {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-demo-weight {
  font-style: italic;
}

.mat-column-demo-symbol {
  width: 32px;
  text-align: center;
  font-weight: bold;
}

.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px auto;
  max-width: 800px;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 16px;
  color: #333;
  font-weight: bold;
}

/* Centraliza o texto do cabeçalho da coluna "Ações" */
.mat-header-cell.mat-column-acoes {
  text-align: center;
}

/* Centraliza o conteúdo da célula, que é a combinação dos botões */
.mat-cell.mat-column-acoes {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Adiciona espaçamento entre os botões */
.btncelula {
  margin: 0 8px; // Ajuste o valor conforme necessário para o espaçamento desejado
}

.mat-column-acoes {
  width: 250px; /* Ajuste conforme necessário */
  text-align: center;
}

.edit-button {
  background-color: #fbc02d; // cor da paleta amarela
}

.create-button {
  background-color: #4caf50; // cor da paleta verde
}
