<div class="navbar  ">
  <mat-toolbar color="primary">
    <h1 class="app-title">APP</h1>
    <div class="navbar-container">
      <button mat-button [routerLink]="['/admin']" routerLinkActive="router-link-active">Home</button>
      <button mat-button [routerLink]="['/admin/carros']" routerLinkActive="router-link-active">Carros</button>
      <button mat-button [routerLink]="['/admin/marcas']" routerLinkActive="router-link-active">Marcas</button>
    </div>
    <span class="spacer"></span>
  </mat-toolbar>
</div>